@media (min-width:1200px) {



.logoContainer {
    position:relative;
}

.titleContainer {
    position:relative;
}


ul {
    margin:0;
    padding:0;
    list-style:none; 
}

nav {
    float:right;
}


nav li {
    display: inline-block;
    margin-left: 30px;
    margin-right:5px;
    right:-200px;
    padding-right:20px;
}

.navButton {
    border:none;
    background-color: white;
    text-decoration:none;
    text-transform:uppercase;
    font-size:14px;
    margin-top:15px;

    font-family: 'Roboto', sans-serif;  
 

}
nav button:hover {
    color:#000;
    font-weight:bold;
}

.titleName {
    font-size:60px;
    position:absolute;
    left:100px;
    top:200px;
    font-family: 'Roboto', sans-serif;

}

.subtext1 {
    font-size:21px;
    position:absolute;
    left:100px;
    top:295px;
    color:#444;
    font-weight:500;
    
    font-family: 'Roboto', sans-serif; 
}

.subtext2 {
    font-size:17px;
    position:absolute;
    left:100px;
    top:332px;
    color:#444;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
}

.subtext3 {
    font-size:17px;
    position:absolute;
    left:100px;
    top:375px;
    color:#444;
    font-style:italic;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
}

.contactButton {
    position:absolute;
    left:100px;
    top:440px;
    color:white;
    font-weight:510;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .8);


    background-color:rgba(175,31,30,1);
    padding: 10px 20px;
    border:none;
    border-radius:5px;
    font-family: 'Roboto', sans-serif;
}

.appointmentButton {
    position:absolute;
    left:245px;
    top:440px;

    color:black;
    font-weight:600;
    
    border-color: rgba(0, 0, 0, 0.2);
    border-radius:5px;
    padding: 10px 20px;
    background-color:white;
    font-family: 'Roboto', sans-serif;
}

.img1 {
    width:50%;
    position:absolute;
    left:759px;
    top:100px;
}

.img2 {
    width:35%;
    position:absolute;
    left:987px;
    top:360px;
}

h2 {
    display:flex;
    align-items: center;
    position:absolute;
    top:750px;
    left:50%;

    transform: translate(-50%, -50%);

    font-family: 'Roboto', sans-serif;
    font-size:50px;
}

.listOfServices {
    position:absolute;
    top:950px;
    height:500px;
    width:100%;
    background-color:#F1F1F1;
}

h3 {
    display:flex;
    position:absolute;
    left:100px;
    font-family: 'Roboto', sans-serif;
    font-size:50px;
}

.servicingText {
    position:absolute;
    left:50%;
    top:825px;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    color:#444;
    text-align:center;
}

.serviceCar {
    width:20%;
    position:absolute;
}

.list1 {
    position:absolute;
    left:130px;
    top:200px;

    list-style-image:url("./images/redCheckMark.png");
}

.list2 {
    position:absolute;
    left:600px;
    top:200px;

    list-style-image:url("./images/redCheckMark.png");
}

.serviceList {
    font-family: 'Roboto', sans-serif;
    font-size:24px;
    color:#444;

    text-align:left;
    margin-bottom:20px;
    margin-top:20px;

    
}

.listText {
    position:relative;
    bottom:2.5px;
    left:10px;
}

.serviceLabel1 {
    position:absolute;
    left:100px;
    top:150px;
    font-family: 'Roboto', sans-serif;
    font-size:24px;
    font-weight:bold;

    
    
}





/* Do not remove */
}